.coaching__supports {
    margin-top: 3rem;

    &--heading {
        color: $red;
        text-align: center;
    }

    &--text {
        text-align: justify;
        font-size: 1rem;

        @media (min-width: 600px) {
            text-align: left;
            font-size: 1.2rem;
        }
    }

    &__list {
        font-size: 0.8rem;

        @media (min-width: 700px) {
            font-size: 0.9rem;
        }

        @media (min-width: 1000px) {
            font-size: 1.1rem;
        }
    }
}

.speciality__coaching {
    &--heading {
        color: $red;
        text-align: center;
    }

    &--text {
        text-align: justify;
        font-size: 1rem;

        @media (min-width: 600px) {
            font-size: 1.2rem;
        }
    }

    &__list {
        font-size: 0.8rem;

        @media (min-width: 700px) {
            font-size: 0.9rem;
        }

        @media (min-width: 1000px) {
            font-size: 1.1rem;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        margin: 3rem 0rem;
        text-align: center;

        @media (min-width: 1000px) {
            flex-direction: row;
        }

        &__card {
            width: 80%;
            min-height: 200px;
            background-color: rgb(240, 237, 237);
            border-radius: 2rem;
            padding: 2rem;

            &:hover {
                background-color: rgb(204, 203, 203);
            }

            @media (min-width: 700px) {
                width: 60%;
                margin: 0 auto;
            }

            @media (min-width: 1000px) {
                width: 100%;
            }

            &--svg {
                height: 4rem;
                width: 4rem;
                color: $blue;
                margin-bottom: 2rem;
            }

            &--heading {
                color: $red;
            }
        }
    }
}

.group__coaching {
    &--heading {
        color: $red;
        text-align: center;
    }

    &--text {
        text-align: justify;
        font-size: 1rem;

        @media (min-width: 600px) {
            text-align: left;
            font-size: 1.2rem;
        }
    }

    &--disclaimer {
        color: $red;
        font-size: 0.8rem;
        font-style: italic;

        @media (min-width: 700px) {
            font-size: 1rem;
        }

        @media (min-width: 1000px) {
            font-size: 1.2rem;
        }
    }

    &__list {
        font-size: 0.8rem;

        @media (min-width: 700px) {
            font-size: 0.9rem;
        }

        @media (min-width: 1000px) {
            font-size: 1.1rem;
        }

        &--disclaimer {
            font-style: italic;
        }
    }
}
