.single {
    margin: 2.5rem auto;

    &__card {
        margin: 1.5rem;

        @media (min-width: 700px) {
            margin: 3rem;
        }

        &--heading,
        h2 {
            color: $red;
            text-align: center;
        }

        &--text,
        p {
            text-align: justify;
            font-size: 1rem;

            @media (min-width: 600px) {
                text-align: left;
                font-size: 1.2rem;
            }
        }

        &__list,
        ul {
            font-size: 0.8rem;

            @media (min-width: 700px) {
                font-size: 0.9rem;
            }

            @media (min-width: 1000px) {
                font-size: 1.1rem;
            }
        }

        &__contacts {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 3rem;
            text-align: center;

            @media (min-width: 1000px) {
                flex-direction: row;
                margin: 3rem;
                gap: 5rem;
            }

            &__card {
                width: 80%;
                margin: 0rem auto;
                min-height: 200px;
                background-color: rgb(240, 237, 237);
                border-radius: 2rem;
                padding: 1rem;

                &:hover {
                    background-color: rgb(204, 203, 203);
                }

                @media (min-width: 700px) {
                    width: 100%;
                    margin: 0 auto;
                }

                @media (min-width: 1000px) {
                    width: 100%;
                }

                &--svg,
                svg {
                    height: 3rem;
                    width: 3rem;
                    color: $blue;
                    margin-bottom: 1rem;
                }

                &--heading,
                h4 {
                    color: $red;
                    margin-bottom: 1rem;
                }

                &__list,
                ul {
                    text-align: left;
                    padding-left: 1rem;

                    &--item {
                        margin: 0.5rem 0rem;
                    }
                }
            }
        }
    }

    &__aside {
        padding: 2rem 0rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--heading,
        h2 {
            color: $red;
            text-align: center;
        }

        &__container__buttons {
            &--button,
            button {
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
                border: 1px solid gray;

                &:hover {
                    background-color: $blue;

                    & > a {
                        color: white;
                    }
                }
            }
        }
    }

    &__article {
        &__heading,
        h2 {
            color: $red;
            text-align: center;
        }

        &__img,
        img {
            width: 10rem;

            &-container {
                text-align: center;
            }

            &--alt {
                width: 15rem;
            }

            &__container__alt {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5rem;
            }
        }

        &__text,
        &__list,
        p,
        ul {
            font-size: 18px;
            font-size: 0.8rem;

            @media (min-width: 700px) {
                font-size: 0.9rem;
            }

            @media (min-width: 1000px) {
                font-size: 1.1rem;
            }

            &--link {
                color: #2263ae;
                font-weight: 600;
            }

            &--callout {
                color: $red;
                font-weight: 700;
                font-size: 1.2rem;

                &--link {
                    color: $red !important;
                    font-weight: 700 !important;
                }
            }
        }

        &__link,
        a {
            color: #2160a7;
            font-weight: 600;
        }

        &--help {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 3rem;

            @media (min-width: 1000px) {
                text-align: left;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 5rem;
            }

            &__heading,
            & > h2 {
                color: $red;
                text-align: center;

                @media (min-width: 1000px) {
                    text-align: left;
                }
            }

            &--callout {
                font-size: 18px;
                font-weight: 700;
                color: $blue;
            }
        }
    }
}
